# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
*.DS_Store
.DS_Store
about/.DS_Store
articles/.DS_Store
assets/.DS_Store
contact-us/.DS_Store
css-layouts/.DS_Store
presentations/.DS_Store
resources/.DS_Store
services/.DS_Store
terms-and-conditions/.DS_Store
training/.DS_Store
workshops/.DS_Store
