/* ---------------------
Gobal styles
----------------------*/

* {
  box-sizing: border-box;
}


/* ---------------------
containers
----------------------*/

header {
  background: #DCDADA;
  padding: 1em 2em;
}

nav {
  padding: 0 2em;
}

main {
  max-width: 38em;
  margin: 0 2em;
  padding: 3em 0;
}

footer {  
  margin: 0 2em;
  padding: 1em 0;
  border-top: 1px solid #969292;
}

footer ul {
  margin: 0 0 .5em;
  padding: 0;
  list-style: none;
  font-size: .8em;
}

footer li {
  display: inline-block;
  margin: 0 1em 0 0;
}

footer p {
  font-size: .8em;
}


/* ---------------------
body
----------------------*/

body {
  margin: 0;
  padding: 0;
  color: #514D4D;
  background: #fff;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif; 
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.25;
}


/* ---------------------
headings
----------------------*/

h1,
h2,
h3,
h4 {
  color: #787373;
  font-weight: 500;
}

h1 {
  margin: 0 0 .5em;
  font-size: 2em;
}

h2 {
  margin: 2.14285714285714em 0 0.714285714285714em;
  font-size: 1.4em;
}

h3 {
  margin: 1.666666em 0 0.833333333333333em;
  font-size: 1.2em;
}

h4 {
  margin: 1em 0 .5em;
  font-size: 1em;
}


/* ---------------------
general elements
----------------------*/

p {
  margin: 0 0 1.5em;
  line-height: 1.5;
}

ul {
  margin: 1em 0 1.5em;
}

li {
  margin: 0 0 .3em;
  line-height: 1.5;
}

li:last-of-type {
  margin: 0;
}

dl {
  margin: 1em 0 1.5em;
  line-height: 1.5;
}

dt {
  margin: 0 0 .5em;
  font-weight: bold;
  line-height: 1.5;
}

dd {
  margin: .5em 0;
  line-height: 1.5;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid #969292;
  margin: 3em 0;
}

iframe {
  margin: 1em 0;
  border: 1px solid #969292;
  width: 100%;
}


/* ---------------------
links
----------------------*/

a:link {
  color: #006CA8;
}

a:visited {
  color: #005685;
}

a:hover {
  color: #5E7F1F;
  background-color: transparent;
}

a:focus {
  color: #fff;
  background-color: #2C2D30;
  outline: 0;
}

a:active {
  color: #6D0E53;
  background-color: transparent;
}


/* ---------------------
details
----------------------*/

details summary{
  cursor: pointer;
  display: inline-block;
  padding: 0.5em .75em .5em 1.7em;
  border: 0;
  background-color: #DCDADA;
  background-image: url(../img/arrrow01.png);
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 16px 16px;
  color: #514D4D;
  text-decoration: none;
  border-radius: 0.2em;
  font-size: .8em;
  line-height: 1;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif; 
}

details[open] summary {
  background-image: url(../img/arrrow02.png);
}

details summary:hover {
  background-color: #5E7F1F;
  color: #fff;
}

details summary:focus {
  background-color: #2C2D30;
  color: #fff;
  outline: none;
}

details summary:active {
  background-color: #6D0E53;
  color: #fff;
}


/* ---------------------
blockquote
----------------------*/

blockquote {
  margin: 2em 0;
  padding: 1em 0 1em 1.5em;
  border-left: 5px solid #ddd;
}

blockquote p {
  margin-top: 0;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}


/* ---------------------
table
----------------------*/

table {
  width: 100%;
  margin: 1.5em 0;
  border-collapse: collapse;
}

caption {
  color: #787373;
  text-align: left;
  font-weight: bold;
  padding: 0 0 0.833333333333333em;
  font-size: 1.2em;
  font-weight: 500;
}

th,
td {
  text-align: left;
  vertical-align: top;
  border: 1px solid #ccc;
  padding: .5em;
}

thead th {
  font-weight: bold;
  background: #eee;
}

th {
  font-weight: normal;
}



/* ---------------------
pre
----------------------*/

pre {
  margin: 1.5em 0;
  color: #fff;
  background: #3A3636;
  padding: 1.5em;
  line-height: 1.5;
  overflow-y: scroll;
}

code {
  color: green;
  font-family: Consolas, monaco, courier, monospace;
}

pre code {
  color: #fff;
  font-size: .95em;
}


/* ---------------------
Forms
----------------------*/

form {
  margin: 2em 0;
}

fieldset {
  margin: 0;
  border: 1px solid #999;
}

legend {
  font-weight: bold;
}

.form-group {
  margin: 0 0 2em;
}

.form-list {
  margin: 0.5em 0;
  padding: 0;
  list-style: none;
}

.label {
  display: block;
  margin: 0 0 0.3em;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #969292;
  font-size: 1em;
  line-height: 1;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.input:hover {
  outline: 2px solid #5E7F1F;
}

.input:focus {
  outline: 2px solid #2C2D30;
}

.button {
  display: inline-block;
  padding: 0.75em 1em;
  border: 0;
  background: #006CA8;
  color: #fff !important;
  text-decoration: none;
  border-radius: 0.2em;
  font-size: 1em;
  line-height: 1;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.button:hover {
  background: #5E7F1F;
  color: #fff;
}

.button:focus {
  background: #2C2D30;
  color: #fff;
  outline: none;
}

.button:active {
  background: #6D0E53;
  color: #fff;
}


/* ---------------------
banner
----------------------*/

.banner {
  background-color: #2C2D30;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 50%;
  margin: 0;
  padding: 4em 2em;
}

.banner-inner {
  background-color: #2C2D30;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 50%;
  padding: 2em;
  margin: 0;
}

.banner-content {
  max-width: 36em;
  border-radius: .3em;
}

.banner h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0 0 .3em;
}

.banner-inner h1 {
  color: #fff;
  margin: 0;
}

.banner p {
  color: #fff;
  margin: 0;
  font-size: 1.1em;
}

.main-home {
  padding-top: 0;
}


/* ---------------------
nav
----------------------*/

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: .8em;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
}

nav a:link,
nav a:visited
{
  color: #005685;
  background-color: #fff;
}

nav a:hover {
  color: #fff;
  background-color: #5E7F1F;
}

nav a:focus {
  color: #fff;
  background-color: #2C2D30;
}

nav a:active {
  color: #fff;
  background-color: #6D0E53;
}

nav a.current {
  position: relative;
}

nav a.current:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 5px;
  content: "";
  display: block;
  background-color: #2C2D30;
}



/* ---------------------
external
----------------------*/

.external {
  display: inline-block;
  padding: 0 1.3em 0 0;
  background-image: url(../img/external-static.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 12px 12px;
}

.external:hover {
  background-image: url(../img/external-hover.png);
}

.external:focus {
  background-image: url(../img/external-focus.png);
}

.external:active {
  background-image: url(../img/external-active.png);
}


/* ---------------------
metadetails
----------------------*/

.metadetails {
  color: #777;
  font-size: .8em;
}

.metadetails-list {
  color: #777;
  font-size: .8em;
  display: inline-block;
  margin: 0 0 0 .5em;
}

.metadetails-section {
  color: #777;
  font-size: .8em;
  display: inline-block;
  margin: 0;
}

.metadetails-paragraph {
  margin: .2em 0 2em;
}


/* ---------------------
classes
----------------------*/

.help-text {
  display: block;
  margin: 0 0 0.3em;
  font-style: italic;
  color: #555;
}

.error-message {
  display: block;
  margin: 0;
  padding: 0.3em 0 0;
  font-style: italic;
  color: red;
}

.colour-light {
  color: #777;
}

.font-small {
  font-size: .8em;
}

.highlight {
  color: yellow;
  background: rgba(255,255,0,.3);
}

.sr-only,
.hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

