/* ---------------------
Gobal styles
----------------------*/

* {
  box-sizing: border-box;
}


/* ---------------------
containers
----------------------*/

header {
  background: #acff02;
  padding: .5em;
  color: #333;
}

nav {
  padding: 0 1em;
}

main {
  margin: 0 1em;
  padding: 1em 0;
}

footer {  
  margin: 0 1em;
  padding: .5em 0;
  border-top: 1px solid #969292;
}

footer ul {
  margin: 0 0 .5em;
  padding: 0;
  list-style: none;
  font-size: .8em;
}

footer li {
  display: inline-block;
  margin: 0 1em 0 0;
}

footer p {
  font-size: .8em;
}

@media screen and (min-width: 600px) {
  header {
    padding: .5em 2em;
  }

  nav {
    padding: 0 2em;
  }

  main {
    max-width: 35em;
    margin: 0 2em;
    padding: 3em 0;
  }

  footer {  
    margin: 0 2em;
    padding: 1em 0;
  }
}


/* ---------------------
body
----------------------*/

body {
  margin: 0;
  padding: 0;
  color: #514D4D;
  background: #fff;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif; 
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.125em; /* 18px */
  }
}


/* ---------------------
headings
----------------------*/

h1,
h2,
h3,
h4 {
  /* color: #6D0E53; */
  color: #1F1F1F;
  font-weight: bold;
  line-height: 1.2;
}

h1 code,
h2 code,
h3 code,
h4 code{
  color: #1F1F1F;
}

h1 {
  margin: 0 0 .5em;
  font-size: 2em;
  font-weight: normal;
}

h2 {
  margin: 2em 0 1em;
  font-size: 1.44444444444em; /* 28px - 26px */
}

h3, .h3 {
  margin: 2em 0 1em;
  font-size: 1.22222222222em;
}

h4, .h4 {
  margin: 1em 0 .5em;
  font-size: 1em;
}


/* ---------------------
general elements
----------------------*/

p {
  margin: 0 0 1.66666667em;
  line-height: 1.5;
}

ul {
  margin: 1em 0 1.5em;
}

li {
  margin: 0 0 .3em;
  line-height: 1.5;
}

li:last-of-type {
  margin: 0;
}

dl {
  margin: 1em 0 1.5em;
  line-height: 1.5;
}

dt {
  margin: 0 0 .5em;
  font-weight: bold;
  line-height: 1.5;
}

dd {
  margin: .5em 0;
  line-height: 1.5;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid #969292;
  margin: 3em 0;
}

iframe {
  margin: 1em 0;
  border: 1px solid #969292;
  width: 100%;
}

kbd {
  border: 0.03em solid #ccc;
  border-radius: 0.2em;
  padding: 0.2em 0.2em 0.1em;
  color: #555;
  background-image: linear-gradient(#fff, #eee);
  box-shadow: 0.05em 0.05em 0.1em #aaa;
  font-family: consolas, courier, monospace;
  font-size: .95em;
  margin: 0 .1em 0 0;
}

figure {
  margin: 2em 0;
}

figcaption {
  display: block;
  margin: .5em 0 0;
}

/* ---------------------
links
----------------------*/

a:link,
a:link code {
  color: #006CA8;
}

a:visited,
a:visited code{
  color: #005685;
}

a:hover,
a:hover code {
  color: #5E7F1F;
  background-color: transparent;
}

a:focus,
a:focus code {
  color: #fff;
  background-color: #3A3636;
  outline: 0;
}

a:active, 
a:active code {
  color: #6D0E53;
  background-color: transparent;
}


/* ---------------------
blockquote
----------------------*/

blockquote {
  margin: 2em 0;
  padding: 1em 0 1em 1.5em;
  border-left: 5px solid #ddd;
}

blockquote p {
  margin-top: 0;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}


/* ---------------------
table
----------------------*/

table {
  width: 100%;
  margin: 1.5em 0;
  border-collapse: collapse;
}

caption {
  color: #787373;
  text-align: left;
  font-weight: bold;
  padding: 0 0 0.833333333333333em;
  font-size: 1.2em;
  font-weight: 500;
}

th,
td {
  text-align: left;
  vertical-align: top;
  border: 1px solid #ccc;
  padding: .5em;
}

thead th {
  font-weight: bold;
  background: #eee;
}

th {
  font-weight: normal;
}


/* ---------------------
pre
----------------------*/

pre {
  margin: 1.5em 0;
  color: #fff;
  background: #3A3636;
  padding: 1.5em;
  line-height: 1.5;
  overflow-y: scroll;
}

code {
  color: green;
  font-family: Consolas, monaco, courier, monospace;
}

pre code {
  color: #fff;
  font-size: .95em;
}


/* ---------------------
Forms
----------------------*/

form {
  margin: 2em 0;
}

fieldset {
  margin: 0;
  border: 1px solid #999;
}

legend {
  font-weight: bold;
}

.form-group {
  margin: 0 0 2em;
}

.form-list {
  margin: 0.5em 0;
  padding: 0;
  list-style: none;
}

.label {
  display: block;
  margin: 0 0 0.3em;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #969292;
  font-size: 1em;
  line-height: 1;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.input:hover {
  outline: 2px solid #5E7F1F;
}

.input:focus {
  outline: 2px solid #3A3636;
}

.button {
  display: inline-block;
  padding: 0.75em 1em;
  border: 0;
  background: #006CA8;
  color: #fff !important;
  text-decoration: none;
  border-radius: 0.2em;
  font-size: 1em;
  line-height: 1;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.button:hover {
  background: #5E7F1F;
  color: #fff;
}

.button:focus {
  background: #3A3636;
  color: #fff;
  outline: none;
}

.button:active {
  background: #6D0E53;
  color: #fff;
}

/* ---------------------
banner
----------------------*/

.banner {
  background-color: #00709B;
  background-image: url(../img/banner-water.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 50%;
  margin: 0;
  padding: 4em 2em;
  border-bottom: 5px solid #5CA4BF;
}

.banner-inner {
  background-color: #00709B;
  background-image: url(../img/banner-water.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 50%;
  padding: 2em;
  margin: 0;
  border-bottom: 5px solid #5CA4BF;
}

.banner-inner-404 {
  background-color: #6D0E53;
  padding: 2em;
  margin: 0;
  border-bottom: 5px solid #9E9A9A;
}

.banner-content {
  max-width: 36em;
  border-radius: .3em;
}

.banner h1 {
  color: #fff;
  font-size: 2.5em;
  margin: 0 0 .3em;
}

.banner-inner h1,
.banner-inner-404 h1 {
  color: #fff;
  margin: 0;
}

.banner h1 code,
.banner-inner h1 code {
  color: #fff;
}

.banner p {
  color: #fff;
  margin: 0;
  font-size: 1.1em;
}

.main-home {
  padding-top: 0;
}


/* ---------------------
nav
----------------------*/

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: .8em;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block;
  padding: 1em .5em;
  text-decoration: none;
}

nav a:link,
nav a:visited
{
  color: #005685;
  background-color: #fff;
}

nav a:hover {
  color: #fff;
  background-color: #00709B;
}

nav a:focus {
  color: #fff;
  background-color: #3A3636;
}

nav a:active {
  color: #fff;
  background-color: #6D0E53;
}

nav a.current {
  position: relative;
}

nav a.current:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 5px;
  content: "";
  display: block;
  background-color: #00709B;
}

@media screen and (min-width: 600px) {
  nav ul {
    font-size: .8em;
  }

  nav a {
    padding: 1em;
  }
}


/* ---------------------
external
----------------------*/

.external {
  display: inline-block;
  padding: 0 0 0 1.1em;
  background-image: url(../img/external-static.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
}

.external:hover {
  background-image: url(../img/external-hover.png);
}

.external:focus {
  background-image: url(../img/external-focus.png);
}

.external:active {
  background-image: url(../img/external-active.png);
}

.external-right {
  padding-right: .9em;
  margin-right: .2em;
  background-image: url(../img/external-static.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 12px 12px;
}

.external-right:hover {
  background-image: url(../img/external-hover.png);
}

.external-right:focus {
  background-image: url(../img/external-focus.png);
}

.external-right:active {
  background-image: url(../img/external-active.png);
}


.bullet-icon {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.bullet-icon li a {
  display: inline-block;
  padding: 0 0 0 1em;
  background-image: url(../img/arrow-right.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
}


/* ---------------------
metadetails
----------------------*/

.metadetails {
  color: #787373;
  font-size: .8em;
}

.metadetails-list {
  color: #787373;
  font-size: .8em;
  display: inline-block;
  margin: 0 0 0 .5em;
}

/* ---------------------
article
----------------------*/

.article {
  margin: 2em 0 0;
  padding: 0 0 2em;
  border-bottom: 1px solid #969292;
}

.article:last-of-type {
  border-bottom: 0;
}

.article-heading {
  margin: 0 0 .454545454545455em;
}

.article-metadetails {
  color: #787373;
  font-size: .8em;
  margin: 0;
}

.article-description {
  margin: .25em 0 0;
}


/* ---------------------
external-link-demo
----------------------*/

.external-link-demo {
  background-color: #9E9A9A;
  padding: 1em;
}

.external-link-demo img {
  width: 30px;
}


/* ---------------------
slides
----------------------*/

.slide {
  border: 1px solid #000;
  padding: 1em;
  margin-bottom: 3em;
}

.slide h2 {
  margin: 0 0 1em;
}

.slide h3 {
  margin: 0 0 1em;
}

.slide h2:last-of-type {
  margin: 0;
}

.slide img {
  width: 95%;
  border: 1px solid #000;
}

.slide p {
  margin: 0 0 1em;
}

.slide p:last-of-type {
  margin-bottom: 0;
}


/* ---------------------
classes
----------------------*/

.example {
  margin: 1.5em 0;
  padding: 1em;
  background-color: #E1DFDF;
}

.list-no-bullets {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.list-spaced li {
  margin: 0 0 .7em;
}

.help-text {
  display: block;
  margin: 0 0 0.3em;
  font-style: italic;
  color: #555;
}

.error-message {
  display: block;
  margin: 0;
  padding: 0.3em 0 0;
  font-style: italic;
  color: red;
}

.colour-light {
  color: #787373;
}

.font-small {
  font-size: .8em;
}

.highlight {
  color: yellow;
  background: rgba(255,255,0,.3);
}

.further-reading {
  margin: 3em 0 2em;
  padding: 1.5em;
  border-radius: .3em;
  background: #efefef;
  border: 1px solid #eee;
}

.further-reading h2 {
  margin-top: 0;
}

.sr-only,
.hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}